<div>
    <i class="fa fa-plus-square" data-toggle="collapse" href="#collapseTop" aria-expanded="false" aria-controls="collapseTop"></i>
    <span style="margin-left:10px;">이어지는 포스트 더보기</span>
</div>
<div class="collapse" id="collapseTop">
    {% for ser in page.series %}
    <li><a href="{{ site.baseurl }}/posts/{{ ser[1].url }}/"> {{ ser[0] }}</a></li>
    {% endfor %}
    <hr>
</div>
  <script>
    // Collapse로 화면이 펼치기 전에 호출
    $('.collapse').on('show.bs.collapse', function () {
      // icon을 + 마크로 변경한다.
      var target = $("[href='#"+$(this).prop("id")+"']");
      target.removeClass("fa-plus-square");
      target.addClass("fa-minus-square");
    });
    // Collapse로 화면이 펼친 후에 호출
    $('.collapse').on('shown.bs.collapse', function () {
      // icon을 + 마크로 변경한다.
      var target = $("[href='#"+$(this).prop("id")+"']");
      target.removeClass("fa-plus-square");
      target.addClass("fa-minus-square");
    });
    // Collapse로 화면에 접기 전에 호출
    $('.collapse').on('hide.bs.collapse', function () {
      // icon을 - 마크로 변경한다.
      var target = $("[href='#"+$(this).prop("id")+"']");
      target.removeClass("fa-minus-square");
      target.addClass("fa-plus-square");
    });
    // Collapse로 화면에 접고 난 후에 호출
    $('.collapse').on('hidden.bs.collapse', function () {
      // icon을 - 마크로 변경한다.
      var target = $("[href='#"+$(this).prop("id")+"']");
      target.removeClass("fa-minus-square");
      target.addClass("fa-plus-square");
    });
  </script>