---
layout: page
# The Archives of posts.
---
<!-- Sectiom: Profile -->
<sectino id="profile">
    <div class="row">
        <div class="img-wrap col-12 col-md-2">
            <div class="img">
                <img src="/assets/img/img_profile.jpeg" alt="profile_img">
            </div>
        </div>
        <div class="text-wrap col-12 col-md-10">
            <span class="username"> csLee94</span>
            <p class="description">
                <b>"수학은 철학을 증명하기 위해 발전했다.”</b> 라는 말을 믿습니다.
            </p>
            <p class="description">
                스타트업에서 비즈니스 가치를 발견하고, 증명하기 위한 데이터 분석가로 근무하고 있습니다.
            </p>
        </div>
    </div>
</sectino>

<!-- Section: Skills -->
<section class="py-5">
    <hr>
    <h3> SKILL </h3>
    <div class="container">
        <div class="row skill-row">
            <div class="col-sm-4 skill-title">
                Data Analytics
            </div>
            <div class="col-sm-1 skill-title">
                50%
            </div>
            <div class="col-sm-7">
                <div class="progress">
                    <div class="progress-bar first-bar" role="progressbar" style="width: 50%" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"></div>
                </div>
            </div>
            <div>
                <p class="skill-description"> &#x2022; &nbsp; Python, SQL, Tableau, Data Studio 등을 통한 데이터 분석 및 시각화</p>
                <p class="skill-description"> &#x2022; &nbsp; AARRR, Aha-monent 등 분석 방법론에 대한 이해와 적용</p>
                <p class="skill-description"> &#x2022; &nbsp; 분석안 활용 비즈니스 전략 적용 방안 기획</p>
            </div>
        </div>
        <div class="row skill-row">
            <div class="col-sm-4 skill-title">
                Data Engineering
            </div>
            <div class="col-sm-1 skill-title">
                35%
            </div>
            <div class="col-sm-7">
                <div class="progress">
                    <div class="progress-bar second-bar" role="progressbar" style="width: 35%" aria-valuenow="35" aria-valuemin="0" aria-valuemax="100"></div>
                </div>
            </div>
            <div>
                <p class="skill-description"> &#x2022; &nbsp; Cloud Platform(AWS, GCP)에서 Serverless ETL Pipeline 구축</p>
                <p class="skill-description"> &#x2022; &nbsp; git 활용 소스 코드 버전 관리</p>
            </div>
        </div>
        <div class="row skill-row">
            <div class="col-sm-4 skill-title">
                Data Science
            </div>
            <div class="col-sm-1 skill-title">
                15%
            </div>
            <div class="col-sm-7">
                <div class="progress">
                    <div class="progress-bar third-bar" role="progressbar" style="width: 15%" aria-valuenow="15" aria-valuemin="0" aria-valuemax="100"></div>
                </div>
            </div>
            <div>
                <p class="skill-description"> &#x2022; &nbsp; 머신러닝 활용 고급 통계 분석 활용</p>
                <p class="skill-description"> &#x2022; &nbsp; 추천 모델 등 서비스 내 데이터 활용 고도화</p>
            </div>
        </div>

    </div>
</section>


<!-- Section: Timeline -->
<section class="py-5">
    <hr>
    <h3> EXPERIENCE </h3>
    <ul class="timeline">
        <li class="timeline-item mb-5">
            <p class="date">2021/05 ~</p>
            <span class="main-contents">미디언스 근무</span>
            <span class="sub-contents"> R&D본부 데이터팀</span>
            <p class="description">
                전사 데이터 pipeline 및 대시보드 / 추천 기능 등 서비스 고도화
            </p>
        </li>
        
        <li class="timeline-item mb-5">
            <p class="date">2020/12 ~ 2021/05</p>
            <span class="main-contents">스토리지솔루션포닥터스 근무</span>
            <span class="sub-contents"> AI Researcher</span>
            <p class="description">
                AI Product 고도화 및 학습 데이터 추출 및 Pitch Deck 작성
            </p>
        </li>
    </ul>
</section>  
  <!-- Section: Timeline -->