---
layout: page
# The Archives of posts.
---

<!-- Section: Timeline -->
<section class="py-5">
    <ul class="timeline">

      <li class="timeline-item mb-5">
        <p class="date">2021/05 ~</p>
        <span class="main-contents">미디언스 입사</span>
        <span class="sub-contents"> R&D본부 데이터팀</span>
        <p class="description">
            R&D본부 데이터팀
        </p>
      </li>

      <li class="timeline-item mb-5">
        <p class="date">2020/12 ~ 2021/05</p>
        <span class="main-contents">스토리지솔루션포닥터스 입사</span>
        <span class="sub-contents"> AI Researcher</span>
        <p class="description">
            AI Product 고도화 및 학습 데이터 추출 및 Pitch Deck 작성
        </p>
      </li>

    </ul>
  </section>
  <!-- Section: Timeline -->