---
layout: page
# The Archives of posts.
---
<!-- Sectiom: Profile -->
<sectino id="profile">
    <div class="row">
        <div class="img-wrap col-12 col-md-2">
            <div class="img">
                <img src="/assets/img/img_profile.jpeg" alt="profile_img">
            </div>
        </div>
        <div class="text-wrap col-12 col-md-10">
            <span class="username"> csLee94</span>
            <p class="description">
                <b>"수학은 철학을 증명하기 위해 발전했다.”</b> 라는 말을 믿습니다.
            </p>
            <p class="description">
                스타트업에서 비즈니스 가치를 발견하고, 증명하기 위한 데이터 분석가로 근무하고 있습니다.
            </p>
        </div>
    </div>
</sectino>


<!-- Section: Timeline -->
<section class="py-5">
    <hr>
    <h3> EXPERIENCE </h3>
    <ul class="timeline">
        <li class="timeline-item mb-5">
            <p class="date">2021/05 ~</p>
            <span class="main-contents">미디언스 근무</span>
            <span class="sub-contents"> R&D본부 데이터팀</span>
            <p class="description">
                전사 데이터 pipeline 및 대시보드 / 추천 기능 등 서비스 고도화
            </p>
        </li>
        
        <li class="timeline-item mb-5">
            <p class="date">2020/12 ~ 2021/05</p>
            <span class="main-contents">스토리지솔루션포닥터스 근무</span>
            <span class="sub-contents"> AI Researcher</span>
            <p class="description">
                AI Product 고도화 및 학습 데이터 추출 및 Pitch Deck 작성
            </p>
        </li>
    </ul>
</section>  
  <!-- Section: Timeline -->